<div class="navbar">
    <div class="logo">
        <img src="ruta-de-la-imagen.png" alt="Logo">
    </div>
    <div class="nav-links">
        <h3>Subtítulo 1</h3>
        <h3>Subtítulo 2</h3>
        <h3>Subtítulo 3</h3>
    </div>
</div>
<div class="content">
    <h1>Panel de control</h1>
  </div>
  <div class="cards-container">
    <div class="card">
        <h2>Título 1</h2>
        <i class="fas fa-icono1"></i>
        <p>Texto de la tarjeta 1</p>
        <i class="fas fa-icono2"></i>
    </div>
    <div class="card">
        <h2>Título 2</h2>
        <i class="fas fa-icono1"></i>
        <p>Texto de la tarjeta 2</p>
        <i class="fas fa-icono2"></i>
    </div>
    <div class="card">
        <h2>Título 3</h2>
        <i class="fas fa-icono1"></i>
        <p>Texto de la tarjeta 3</p>
        <i class="fas fa-icono2"></i>
    </div>
    <div class="card">
        <h2>Título 4</h2>
        <i class="fas fa-icono1"></i>
        <p>Texto de la tarjeta 4</p>
        <i class="fas fa-icono2"></i>
    </div>
    <div class="card">
        <h2>Título 5</h2>
        <i class="fas fa-icono1"></i>
        <p>Texto de la tarjeta 5</p>
        <i class="fas fa-icono2"></i>
    </div>
</div>