<div class="navbar">
    <div class="logo">
        <img src="../../../assets/images/logoSICR_SinFondo.png" width="150" height="150" alt="Logo">
    </div>
</div>
<div class="content">
    <h1>Panel de control</h1>
  </div>
  <div class="cards-container">
    <div class="card">
        <h2>Usuarios</h2>
        <p>Gestionar</p>
        <i class="fa-solid fa-gear" routerLink="/gestionar-usuarios"></i>
    </div>
    <div class="card">
        <h2>Menú</h2>
        <p>Gestionar</p>
        <i class="fa-solid fa-gear" routerLink="/gestionar-menu"></i>
    </div>
    <div class="card">
        <h2>Items</h2>
        <p>Gestionar</p>
        <i class="fa-solid fa-gear" routerLink="/gestionar-items"></i>
    </div>
    <div class="card">
        <h2>Productos</h2>
        <p>Gestionar</p>
        <i class="fa-solid fa-gear" routerLink="/gestionar-productos"></i>
    </div>
    <div class="card">
        <h2>Sedes</h2>
        <p>Gestionar</p>
        <i class="fa-solid fa-gear" routerLink="/gestionar-sedes"></i>
    </div>
    <div class="card">
        <form [formGroup]="sedeAdmin">
            <h2>Administrar sede</h2>
            <label  for="validationServer033">Selecciona una sede</label>
            <select formControlName="sedeId" class="auto_width form-control">
                <option value=""></option>
              <option *ngFor="let sede of sedes" [value]="sede.id">{{ sede.nombre }}</option>
            </select>
            <i class="fa-solid fa-gear" (click)="redirectAdminSede()"></i>
        </form>
    </div>
    
</div>