
<div class="navbar">
    <div class="logo">
        <img src="../../../assets/images/logoSICR_SinFondo.png" width="150" height="150" alt="Logo">
    </div>
</div>
<main class="col-md-9 float-right col px-5 pl-md-2 pt-2 main content">
    <!-- <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="text-dark fa fa-navicon fa-lg py-2 p-1"></i></a>-->
    <div class="page-header">
        <h2 class="display-4 font-weight-light">Administrador de Usuarios</h2>
    </div>
    <hr>
    <form class="mt-4"
    [formGroup]="crearUsuarioForm"
    (ngSubmit)="crear()" >
        <div class="row">           
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Nombres</label>
                <input type="text" class="auto_width form-control" formControlName="nombres">
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Apellidos</label>
                <input type="text" class="auto_width form-control" formControlName="apellidos">
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Usaurio</label>
                <input type="text" class="auto_width form-control" formControlName="username">
            </div> 
        </div>
        <div class="row">           
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Direccion</label>
                <input type="text" class="auto_width form-control" formControlName="direccion">
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Telefono</label>
                <input type="text" class="auto_width form-control" formControlName="telefono">
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Email</label>
                <input type="text" class="auto_width form-control" formControlName="email">
            </div> 
        </div>
        <div class="row justify-content-center">   
            <div class="col-4" >
                <label class="mt-3" for="validationServer033">Tipo Usaurio</label>
                <select  type="text" class="form-control " id="validationServer033" formControlName="tipoUsuario" >
                    <option></option>
                    <option *ngFor="let tipo of tipoUsuarios" value="{{tipo.id}}">{{tipo.rol}}</option>
                </select>
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Contraseña</label>
                <input type="text" class="auto_width form-control" formControlName="password">
            </div>
                    
        </div>
        <div style="text-align: center; margin-top: 2%;">
            <button type="button" class="btn btn-success mb-5" (click)="crear()" [disabled]="!crearUsuarioForm.valid" [hidden]="edit==true">Agregar</button>
            <button type="button" class="btn btn-success mb-5" (click)="confirmarEdicion()" [disabled]="!crearUsuarioForm.valid" [hidden]="edit==false">Editar</button>
            <button type="button" class="btn btn-danger mb-5" style="margin-left: 5px;" routerLink="/home-admin">Cancelar</button>
            </div>
            

    </form>


    <table class="table mt-5">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
            <td>{{user.nombres}}</td> 
            <td>{{user.username}}</td> 
            <td>{{user.telefono}}</td> 
            <td>{{user.email}}</td> 
            <td>{{user.direccion}}</td> 
            <td><i class="fa-solid fa-pen-to-square" style="color: rgb(220, 210, 37);" [routerLink]="['/gestionar-usuarios', user.id]"></i></td>
            <td><i class="fa-solid fa-trash mr-5" style="color: rgb(255, 0, 0);" (click)="confirmarEliminar(user)"></i></td>
            </tr>
        </tbody>
        </table>

</main>