
<div class="navbar">
    <div class="logo">
        <img src="../../../assets/images/logoSICR_SinFondo.png" width="150" height="150" alt="Logo">
    </div>
</div>
<main class="col-md-9 float-right col px-5 pl-md-2 pt-2 main content">
    <!-- <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="text-dark fa fa-navicon fa-lg py-2 p-1"></i></a>-->
    <div class="page-header">
        <h2 class="display-4 font-weight-light">Administrador de Items</h2>
    </div>
    <hr>
    <form class="mt-4"
    [formGroup]="crearItemForm"
    (ngSubmit)="crear()" >
        <div class="row justify-content-center">           
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Nombre</label>
                <input type="text" class="auto_width form-control" formControlName="nombre">
            </div>
            <div class="col-4">
                <label class="mt-3" for="validationServer033">Costo Unitario</label>
                <input type="number" class="auto_width form-control" formControlName="costoUnitario">
            </div>
        </div>
        
        <div style="text-align: center; margin-top: 2%;">
            <button type="button" class="btn btn-success mb-5" (click)="crear()" [disabled]="!crearItemForm.valid" [hidden]="edit==true">Agregar</button>
            <button type="button" class="btn btn-success mb-5" (click)="confirmarEdicion()" [disabled]="!crearItemForm.valid" [hidden]="edit==false">Editar</button>
            <button type="button" class="btn btn-danger mb-5" style="margin-left: 5px;" routerLink="/home-admin">Cancelar</button>
            </div>
    </form>


    <table class="table mt-5">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Costo Unitario</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
            <td>{{item.nombre}}</td> 
            <td>{{item.costoUnitario}}</td> 
            <td><i class="fa-solid fa-pen-to-square" style="color: rgb(220, 210, 37);" [routerLink]="['/gestionar-items', item.id]"></i></td>
            <td><i class="fa-solid fa-trash mr-5" style="color: rgb(255, 0, 0);" (click)="confirmarEliminar(item)"></i></td>
            </tr>
        </tbody>
        </table>

</main>